@import '../../../common/styles/index';

.header {
    @include flex(row, center, space-between);
    cursor: pointer;

    .arrow {
        border-top: none;
        border-left: 6px solid transparent;
        border-right:  6px solid transparent;
        border-bottom:  8px solid $secondary-color;
    }
}

.center {
    justify-content: center;
}

.collapsed {
    .content {
        overflow: hidden;
        height: 0px;
    }

    .arrow {
        border-bottom: none;
        border-left: 6px solid transparent;
        border-right:  6px solid transparent;
        border-top:  8px solid $secondary-color;
    }
}
