@import '../../../common/styles/index';

.icon {
    fill: $secondary-color;
    margin-right: 5px;    
}

.line {
    margin-top: 10px;

    .select_all {
        color: $message-gray;
        font-weight: bold;
        font-size: 13px;
        margin-left: 5px;
    }

    .star {
        margin-left: 5px;
    }
}


.title {
    @include flex(row, baseline);    
    color: $secondary-color;
    margin: 0px;
}